/* In here variables can be configured. */
$primary: #006eff;
$secondary: #006eff;
$diabled: #ccc;
$btn-color: $primary;

$success: rgb(19, 207, 19);
$failed: rgb(209, 23, 23);
$warning: rgb(252, 141, 15);
$neutral: rgb(245, 231, 45);
