<app-action-bar
  title="Today's challenge"
  [showBackButton]="false"
></app-action-bar>
<FlexBoxLayout *ngIf="currentDay" flexDirection="column" justifyContent="center" alignItems="center">
  <Label class="h1" [text]="currentDay.date | date"></Label>
  <StackLayout class="dummy-space"></StackLayout>
  <app-challenge-actions [action]="getActionName(currentDay)" (actionSelect)="onActionSelected($event)" [cancelText]="'Reset'"></app-challenge-actions>
</FlexBoxLayout>
<FlexBoxLayout *ngIf="!currentDay" flexDirection="column" justifyContent="center" alignItems="center">
  <app-no-challenge></app-no-challenge>
</FlexBoxLayout>
