/*

GridLayout {
  background-image: url('res://summit')
  background-image: url('https://awdawdad.com/')
  background-repeat: norepeat;
  background-position: center;
  background-size: cover;
}

*/
